@model IdentityStructureModel.ViewModels.ForgetPasswordViewModel
@{
	ViewData["Title"] = "ResetPassword";
}

@if (TempData["success"] != null)
{
	<div class="alert alert-info" role="alert">
		@TempData["success"]
	</div>
}
<div class="row">
	<div class="col-md-4 offset-md-4">
		<div class="alert alert-primary">Şifre yenileme linki, e-posta adresinize gönderilecektir.</div>
	</div>
</div>

<div class="row">
	<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
</div>
<div class="row"></div>
<form method="post" class="col-md-4 offset-md-4">
	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input value="" class="form-control" asp-for="Email" />
		<span class="text-danger" asp-validation-for="Email"></span>
	</div>
	<button type="submit" class="btn btn-primary">Gönder</button>
</form>
