@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



@if (User.Identity?.IsAuthenticated ?? false)
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-action="Index" asp-controller="Member">@User.Identity.Name</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">Çıkış Yap</a>
	</li>
}
else
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SignUp">Kayıt Ol</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignIn">Giriş Yap</a>
	</li>
}